{{ partial "head.html" . }}

<main class="index">
  <section class="article-list">
    <h1>{{$.Title}}</h1>

    {{ range (where (where .Site.RegularPages "Section" "blog") "Params.nohtml" "!=" "true") }}
    <div class="article">
      <span class="date">{{.Date.Format "January 2, 2006"}}</span>
      {{- if .OutputFormats.Get "html" }}
      <a href="{{.Permalink}}">{{.Title}}</a>
      {{- else if .OutputFormats.Get "gemtext" }}
      {{ with .OutputFormats.Get "gemtext" }}
      <a href="{{replace .Permalink "/gemini" "" 1 | safeURL}}">{{end}}{{.Title}}</a>
      <small>[<a href="/gemini.html">what is gemini://?</a>]</small>
      {{ end }}
    </div>
    {{ end }}
  </section>

  <aside>
    <img
      src="/avatar-148.jpg"
      alt="My pfp"
      width="148" height="148" />

    <div class="text-center">
      <a class="rss" href="/blog/index.xml">rss</a>
      ·
      <a href="misc.html">resources</a>
    </div>

    <dl class="external-links">
      <dt>email</dt>
      <dd><a href="mailto:ethan@ethandjeric.om">ethan@ethandjeric.com</a></dd>
      <dt>github</dt>
      <dd><a href="https://github.com/deafmute1">deafmute1</a></dd>
      <dt>pgp (WKD)</dt>
      <dd><small>gpg --locate-keys ethan@ethandjeric.com</small></dd>
      <dt>pgp (file.pub)</dt> 
      <dd>23BCB505F94D5FB0</dd>
    </dl>

    <small>
      hi. 
    </small>
  </aside>
</main>
